<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8"/>
    <title>Mon Banque</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Consultation d'un compte</div>
                <div class="panel-body">
                    <form th:action="@{/consulterCompte}" method="get">
                        <div>
                            <label> code compte :</label>
                            <input type="text" name="codeCompte" th:value="${codecompte}" >
                            <button type="submit" class="btn btn-success">OK</button>
                        </div>
                    </form>
                    <div th:if="${exception}" th:text="${exception.getMessage()}" class="text-danger" >
                    </div>
                </div>
            </div>
            <div class="panel panel-default" th:if="${compte}">
                <div class="panel-heading">Information sur les compte</div>
                <div class="panel-body">
                    <div>
                        <div>
                            <label>Client :</label>
                            <label th:text="${compte.client.nom}" ></label>
                        </div>
                        <div>
                            <label>Code :</label>
                            <label th:text="${compte.codeCompte}" ></label>
                        </div>
                        <div>
                            <label>Solde :</label>
                            <label th:text="${compte.solde}" ></label>
                        </div>
                        <div>
                            <label>Date de Création :</label>
                            <label th:text="${compte.dateCreation}" ></label>
                        </div>
                        <div>
                            <label>type :</label>
                            <label th:text="${compte.class.simpleName}" ></label>
                        </div>
                   <div th:if="${compte.class.simpleName=='CompteCourant'}">
                            <label>Découvert :</label>
                            <label th:text="${compte.decouvert}" ></label>
                        </div>
                        <div th:if="${compte.class.simpleName=='CompteEpargne'}">
                            <label>Taux :</label>
                            <label th:text="${compte.taux}" ></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" th:if="${compte}">
                <div class="panel-heading">Liste des opérations</div>
                <div class="panel-body">
                    <form th:action="@{/saveOperation}" method="post" >
                        <div>
                            <label>Compte</label>
                            <input type="hidden" name="codecpt" th:value="${codecompte}" >
                            <label th:text="${codecompte}" ></label>
                        </div>
                        <div>
                            <input type="radio" name="typeOperation" value="VERS" checked="checked"
                                onchange="document.getElementById('forVirement').style.display='none'">
                            <label>Versement</label>
                            <input type="radio" name="typeOperation" value="RETR"
                                   onchange="document.getElementById('forVirement').style.display='none'">
                            <label>Retrait</label>
                            <input type="radio" name="typeOperation" value="VIR"
                                   onchange="document.getElementById('forVirement').style.display='block'">
                            <label>Virement</label>
                        </div>
                        <div id="forVirement" style="display: none">
                            <label>Ver :</label>
                            <input type="text" name="codeCompte2" >
                        </div>
                        <div>
                            <label>Montant :</label>
                            <input type="text" name="montant" >
                        </div>
                        <div class="text-danger" th:text="${#httpServletRequest.getParameter('error')}" >

                        </div>
                        <button type="submit" class="btn btn-success" >Save</button>
                    </form>
                </div>
            </div>
            <div class="panel panel-default" th:if="${compte}">
                <div class="panel-heading">Opération sur le compte</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Numéro</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Montant</th>
                        </tr>
                        <tr th:each="o:${listoperation}">
                            <td th:text="${o.numero}"></td>
                            <td th:text="${o.class.simpleName}"></td>
                            <td th:text="${o.dateOpreation}"></td>
                            <td th:text="${o.montant}"></td>
                        </tr>
                    </table>
                    <div class="container">
                        <ul class="nav nav-pills">
                            <li th:each="p,status:${pages}">
                                <a th:href="@{/consulterCompte(codeCompte=${codecompte},page=${status.index})}" th:text="${status.index}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>